<!DOCTYPE html>
html(lang="en")
    include partials/head.pug
    body
        include partials/card.pug
        h1 hellooooo!
        h1 hellooooo!
        h1 hellooooo!
        script(src="js/main.min.js")